.movie-container {
  margin: 0 auto;
  width: 90%;
  height: auto;
  background-color: #92abbe;
  text-align: right;

  h2 {
    color: blue;
  }

  h3 {
    text-decoration: underline;
    font-weight: bolder;
  }

  p {
    text-align: left;
    font-weight: bold;
  }
}
