.movie-table {
  background-color: lightblue;

  p {
    font-weight: bold;
  }
}

.title-cell {
  color: #00008b;
  font-weight: bold;
  font-size: large;
}

.return-button {
  background-color: violet !important;
}
