ul {
  cursor: pointer;
  list-style: georgian outside;
  justify-content: flex-start;
  cursor: pointer;
  /* background-color: lightblue; */
}

li {
  display: inline;
  color: blue;

  .active-page {
    color: purple;
  }
}

li:not(:first-child):before {
  content: " | ";
}
