.spinner {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #ffd900;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  position: relative;
}

.spinner::before {
  content: "📼";
  display: inline-block;
  font-size: 2.5rem;
  animation: bounce 0.6s infinite alternate;
  margin-right: 0.5rem;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
