.App {
  text-align: center;
  width: 100%;
  background-color: darkblue;
  height: 100%;
  margin: 0;
  left: 0;
  top: 0;
  position: fixed;
  overflow-y: scroll;
}

.title-field {
  font-family: "Eras ITC", "Eras Light ITC", sans-serif;
  text-align: center;
}

.ui.table {
  width: 100%;
}

.ui.table thead tr:first-child > th {
  background-color: gold;
  top: 0;
}

ul {
  display: inline;
  list-style-type: none;
}

ul#MemberBanner li {
  display: inline;
}

table {
  table-layout: fixed;
}

.ui.table tr {
  background-color: lightblue;
}

.anchor-left {
  position: fixed;
  margin-left: 0%;
}
