.App {
  text-align: center;
  width: 100%;
  background-color: darkblue;
  height: 100%;
  margin: 0;
  left: 0;
  top: 0;
  position: fixed;
}

.ui.table {
  width: 100%;
}

.ui.table thead tr:first-child > th {
  background-color: gold;
  top: 0;
}

ul {
  display: inline;
  list-style-type: none;
}

ul#MemberBanner li {
  display: inline;
}

.ui.table tr {
  background-color: lightblue;
}

.container {
  height: 200px;
  position: relative;
}

.member-banner {
  background-color: gold;
  font-weight: bold;
  font-size: large;
  /* padding: "8px"; */
  padding: 2%;
  color: blue;
  display: flexbox;
  flex-direction: row;
  /* margin-bottom: 1rem; */
}

.anchor-left {
  /* @TODO: better way to do this? Is this mobile friendly? */
  position: fixed;
  margin-left: 0%;
}

.movie-table {
  width: 100%;
  background-color: silver;

  p {
    font-weight: bold;
  }
}

.title-cell {
  font-weight: bold;
  font-size: large;
}

.bluck-buster-login {
  background-color: gold;
  /* @TODO: better way to center element? */
  padding: 25px;
  /* height: 15%; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.error-text {
  font-weight: bold;
  font-size: large;
  color: red;
}
